---
layout: default
active_tab: publications
title: Publications
permalink: /publications
---

<h1 class="page-title">Publications</h1>
<p class="pub-note">Please note that in my field, authors are always ordered alphabetically by last name.</p>

{% for post in site.posts %}
{% if post.categories contains 'research' %}
<article class="pub">
  <div class="pub-body">
    <h3 class="pub-title">{{ post.title }}</h3>
    <p class="pub-authors">{{ post.authors }}</p>
    <p class="pub-venue">
      <em>{{ post.venue }}</em><span class="year">, {{ post.date | date: "%Y" }}</span>
    </p>
    {% if post.arxiv or post.video or post.code or post.poster or post.slides or post.website or post.youtube %}
    <p class="pub-links">
      {% if post.arxiv %}<a href="{{ post.arxiv }}">arXiv</a>{% endif %}
      {% if post.video %}{% if post.arxiv %} / {% endif %}<a href="{{ post.video }}">video</a>{% endif %}
      {% if post.code %} / <a href="{{ post.code }}">code</a>{% endif %}
      {% if post.poster %} / <a href="{{ post.poster }}">poster</a>{% endif %}
      {% if post.slides %} / <a href="{{ post.slides }}">slides</a>{% endif %}
      {% if post.website %} / <a href="{{ post.website }}">website</a>{% endif %}
      {% if post.youtube %} / <a href="{{ post.youtube }}">youtube</a>{% endif %}
    </p>
    {% endif %}
  </div>
</article>
{% endif %}
{% endfor %}
