<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
  <!-- Favicon -->
  <meta name="theme-color" content="#8bbcf1">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?v=2" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico?v=2" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/favicon.svg?v=2" type="image/svg+xml">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/favicon-96x96.png?v=2">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png?v=2">

  <!-- MathJax (LaTeX support) -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [["$","$"],["\\(","\\)"]],
        displayMath: [["$$","$$"],["\\[","\\]"]],
        processEscapes: true,
        tags: 'ams'
      },
      options: {
        skipHtmlTags: ['script','noscript','style','textarea','pre','code']
      }
    };
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ishani Karmarkar
              </h1>
              <p>I am currently a PhD student at Stanford University. My research primarily focuses on problems at the intersection of optimization, machine learning, and algorithm design. I am very fortunate to be advised by <a href="https://www.aaronsidford.com/">Aaron Sidford</a> and <a href="https://vitercik.github.io/">Ellen Vitercik</a>.
              </p>
              <p>
                Previously, I earned a BS in Applied and Computational Mathematics with a Minor in Computer Science from the California Institute of Technology (Caltech), where I did undergraduate research with Bamdad Hosseini and Andrew Stuart. 
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:ishanik@stanford.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/ishanikarmarkar">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=yg8x6wsAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/ishani-karmarkar-161496144/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.baseurl }}/images/profile.jpg?v=3">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Publications </h2>
              <p><em>Please note: in my field (theory) authors are always listed alphabetically! </em></p>
              <!-- <p>
                To be updated soon :)
              </p> -->
              <!-- <h2>Internships</h2>
              <p>
                To be updated soon :)
              </p>

              <h2>Teaching</h2>
              <p>
                At Stanford, I had the opportunity to serve as a teaching assistance for CME 302 (Numerical Linear Algebra) and ME 300 (Linear Algebra with Engineering Applications.)
                At Caltech, I was a teaching assistant for CME 213 (Markov Chains, Discrete Stochastic Processes, and Applications), ACM 104 (Applied Linear Algebra), CS 157 (Statistical Inference), and ACM 95/100 (Introductory Methods of Applied Math).
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <h2>Internship Projects </h2>
        <p>
          I previously interned at Citadel (quantitative researcher), Meta Reality Labs (machine learning engineer), and Facebook (software engineer). I'm also excited to be interning at Annapurna Labs (part of AWS). 
        </p>


        <h2>Teaching Experience </h2>

        <p>
          Aside from research, I also enjoy teaching mathematics. At Stanford, I had the opportunity to serve as a teaching assistance for CS 264 (Beyond Worst Case Analysis of Algorithms), CME 302 (Numerical Linear Algebra), and ME 300 (Linear Algebra with Engineering Applications.)
          At Caltech, I enjoyed being a teaching assistant for CME 213 (Markov Chains, Discrete Stochastic Processes, and Applications), ACM 104 (Applied Linear Algebra), CS 157 (Statistical Inference), and ACM 95/100 (Introductory Methods of Applied Math).
        </p>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
